@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url("Images/double-bubble-outline.png");
    font-family: 'Poppins', sans-serif;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav li a{
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    
}

#header {
    background: #2d2d2d;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header-img {
    cursor: pointer;
}

#nav-bar {
    list-style: none;
}

#nav-bar li {
    display: inline-block;
    padding: 0px 20px;
}

#nav-bar li a{
    transition: all 0.2s ease 0s;
}

#nav-bar li a:hover{
    color: grey;
}

/* HERO */

.hero {
    position: relative;
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.hero-text {
    width:50%;
    align-items: left;
}

.subtext{
    font-size: 14px;
    font-weight: bold;
    color: grey;
    letter-spacing: 0.35em;
}

.hero-text h1{
    font-size: 4em;
}

.hero-text h1 span {
    color: #F7BD3D;
}

.hero-img{
    text-align: right;
}

.hero-img img {
    width: 100%;
    height: 100%;
    justify-content: right;
}

@media (max-width: 1600px){
    .hero-text h1{
        font-size: 3em;
    }
    .hero-img img {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 1200px){
    .hero {
        flex-direction: column-reverse;
        justify-content: space-around;
        padding-top: 20%;
    }
    
    .hero-text{
        text-align: center;
        width: 100%;
    }
    
    .hero-text h1{
        font-size: 2em;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img {
        width: 100%;
        height: 100%;
    }
    
}

.yellow {
    background-color: #F7BD3D;
}

.black {
    background-color: #2d2d2d;
}


/*VIDEO*/
#video-con {
    text-align: center;
    padding: 50px;
}

#video {
    width: 200;
    height: 315;
}



.pricing {
    width: 80%;
    height: 100vh;
    position: relative;
    margin: auto;
    justify-content: space-between;
}

.pricing h1 {
    padding-top: 40px;
    font-size: 4em;
    color: rgb(41, 41, 41);
    text-align: center;
}
.pricing-table {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
}

.pricing-card {
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
    box-shadow: 0 0 5px 2px #dfdfdf;
}

.pricing-card-header {
    background-color: #F7BD3D;
    display: inline-block;
    color: rgb(32, 32, 32);
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .2s linear;
}

.pricing-card:hover .pricing-card-header {
    box-shadow: 0 0 0 23em #F7BD3D;
}

.price {
    font-size: 70px;
    color: #F7BD3D;
    margin: 40px 0;
    transition: 0.2 linear;
}

.price sup, .price span {
    font-size: 22px;
    font-weight: 700;
}

.pricing-card:hover, .pricing-card:hover .price {
    color: #fff;
}

.pricing-card li {
    font-size: 16px;
    padding: 10px 0;
}

.order-btn {
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid #F7BD3D;
    color: #F7BD3D;
    padding: 18px 40px;
    border-radius:  8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.2 linear;
}

.order-btn:hover {
    background-color: #F7BD3D;
    color: #fff;
}

.contact {
    width: 80%;
    height: 85vh;
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
}

.contact h1 {
    padding-top: 60px;
    font-size: 4em;
    justify-content: center;
    color: #000000;
}

.contact-form {
    padding-top: 100px;
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    padding: 20px 40px;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    transition: 0.;
}

.contact-form-text:focus{
    box-shadow: 0 0 1px 2px #000000;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: #0e0e0e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
}

.footer{
    height: 10vh;
    background-color: #2d2d2d;
    text-align: center;
    line-height: 10vh;
}

.footer h2{
    color: white;
    margin-top: auto;
    font-weight: 500;
}
